body {
    /* padding-top: 50px;
    padding-bottom: 20px; */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
    color: black;
}
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
.jumbotron {
        min-height: 350px;
        background: url("https://cdn.lynda.com/course/423403/423403-636167163407198547-16x9.jpg");
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        padding-left: 300px;
        padding-right: 300px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 400px;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
}
.button2:hover {
    transition: width 2s, height 2s;
}
input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url('searchicon.png');
}

input[type=text]:focus {
    width: 100%;
}

.main-block {
    background-color:#69BADC;
}

.main-block:after{
    background-image:linear-gradient(to bottom right,#69BADC 50%,#fff 0);
}

.bg-diagnal{

}

.bg-diagnal:after{
  content: "";
  width: 100%;
  height: 150px;
  display: block

}

.landing-container {
    /* max-width:960px; */
    display: flex;
}

.landing-img{
    max-width:960px;
    flex: 1 1 0%;
    margin-left: 30px
}

.landing-text{
    flex: 1 1 0%;
    padding: 2%;
    font-size: 84px;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}

.landing-subtext {
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
}

.main-content{
    padding-top: 8rem;

}

.input-container{
    position: relative
}

.input{
    width: 250px;
    height: 40px;
}

.label-text{
    position: absolute;
    top: -10px;
    left: 25px;
    background-color: white;
    color: #4a4a4a;
    font-family: 'Open Sans',sans-serif;
}


@media only screen and (min-width: 1200px) {
    .main-margin {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media only screen and (min-width: 515px ) and (max-width: 1199px ) {
    .main-margin {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 514px ) {
    .main-margin {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 767px ) {
    .landing-text {
        margin-top: 0px;
    }
    .landing-img{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}