{% block content %}
<head>
    <!-- Bootstrap Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- site CSS -->
    <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
    <!-- JS include -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" style="background-color: #69BADC; margin-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="/" class="navbar-brand" style="color:black">Review4You!</a> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:black">
                </ul>
            </div>
        </div>
    </div>

    <!-- mobile landing -->
    <div class="main-block bg-diagnal visible-xs">
        <div class="landing-text">
                REVIEW 4 YOU
                <p class="landing-subtext">
                    Explore your area's businesses!
                </p>
        </div>  
        <div class="landing-container row">
            <img class="landing-img col-xs-12" src="../static/content/images/undraw_best_place_r685 (1).svg">
        </div>
    </div>

    <!-- desktop landing -->
    <div class="main-block bg-diagnal hidden-xs">
            <div class="landing-container row">
                <img class="landing-img col-lg-6 col-md-6 col-sm-4" src="../static/content/images/undraw_best_place_r685 (1).svg">
                <div class="landing-text col-lg-6 col-md-6 col-sm-4">
                    REVIEW 4 YOU
                    <p class="landing-subtext">
                        Explore your area's businesses!
                    </p>
                </div>
            </div>
    </div>



    <div class="main-content">
        </br>
        <div class="row">
          <div class="main-margin">
            <div class="col-md-5 col-sm-12">
                <ul class="nav nav-tabs">
                    <li style="color:black !important;"><a href="#home" data-toggle="tab" style="color:black !important">Overview</a></li>
                    <li class="active"><a href="#profile" data-toggle="tab" style="color:black !important">Instructions</a></li> 
                    <li><a href="#source" data-toggle="tab" style="color:black !important">Source Code</a></li>            
                </ul>
                <div id="myTabContent" class="tab-content" style="font-family:'Nunito Sans', sans-serif;">
                    <div class="tab-pane fade " id="home">
                        <p style="font-size:20px;"><b>Review4You! is a python web application powered by the Flask microframework</b>. This application acts as a one stop shop for looking up businesses near you, paired with an intuitive <b>GoogleMap interface</b>. Searches are
                    powered by the <b>Yelp Fusion API</b>. Review4You! is hosted on the Heroku cloud hosting platform.</p>
                    </div>
                    <div class="tab-pane active fade in" id="profile">
                        <p style="font-size:20px;">The instructions are simple, just input your zip code along with some search parameters and watch the GoogleMap be populated with markers of which are constructed based on your results!</p>
                    </div>    
                    <div class="tab-pane fade" id="source">
                        <p style="font-size:20px;">You can see Review4You!'s source code and other projects on my <a href="https://github.com/BillMatera/review4you">GitHub</a></p>
                    </div> 
                </div>
            </div>
            <div class="col-md-2"></div>
                <div class="col-md-5 col-sm-12" style="background-color:#fafafa;">
                    <h1 style="color:#69BADC; font-family: 'Fjalla One',sans-serif; font-size:48px;">Start Searching!</h1>
                    <div class="form-group">
                        <form class="form-group" action="" method="post">
                            <article>
                                    <div class="input-container">
                                        <label class="label-text">
                                            ZIPCODE
                                        </label>
                                        <input class="form-group input" style="border:1px solid hsla(0,0%,60.8%,.5)" type="text" name="zip" placeholder="  Zipcode Only" />
                                    </div>
                                    <div class="input-container">
                                        <label class="label-text">
                                            FIND
                                        </label>
                                        <input class="form-group input" style="border:1px solid hsla(0,0%,60.8%,.5)" type="text" name="searchTerm"  placeholder="  accountants, delivery, takeout..." />
                                    </div>
                                </br>
                                <p>
                                    <button class="btn btn-default button2" style="border-radius:0;" type="submit">Search</button>
                                </p>
                            </article>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </div>

</br>
</br>
    <p style="margin-left:50px; color: black;">&copy; 2020 - Website designed by Bill Matera </p>
</br>

</body>
{% endblock %}
